.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/background.png");
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-top: 32px;
}

.card-item {
  width: 160px;
  height: 160px;
  background-color: #15181f;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #15181f;
  box-shadow: 0px 0px 8px #15181f;
  transition: 0.5s;
  cursor: pointer;
}

.flipped {
  animation: flip 0.5s linear;
}

.unflipped {
  width: 160px;
  height: 160px;
  background-color: #2b0e11;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ee9430;
  box-shadow: 0px 0px 8px #b63c00;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.modal{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-container {
  background-color: #15181F;
  width: 70%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 35vh auto; 
}



button.play-again{
  box-sizing: border-box;
  min-width: 200px;
  width: max-content;
  height: 40px;
  background: #2B0E11;
  border: 1px solid #EE9430;
  box-shadow: 0px 0px 8px #B63C00;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  img#title{
    width: 60%;
  }
  .card-item {
    width: 80px;
    height: 80px;
  }
}