.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/background.png");
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-top: 32px;
}

.card-item {
  width: 160px;
  height: 160px;
  background-color: #15181f;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #15181f;
  box-shadow: 0px 0px 8px #15181f;
  transition: 0.5s;
}

.flipped {
  animation: flip 0.5s linear;
}

.unflipped {
  width: 160px;
  height: 160px;
  background-color: #2b0e11;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ee9430;
  box-shadow: 0px 0px 8px #b63c00;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
